{% form_theme form 'bootstrap.html.twig' %}

{% extends 'layout.html.twig' %}

{% block title %}Edit - PostAdmin{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Edit Post "{{ post.title }}"</h1>
            </div>
        </div>
    </div>
    {{ form_start(form) }}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                {{ form_errors(form) }}
                {{ form_row(form._token) }}
                {{ form_row(form.title) }}
                {{ form_row(form.body) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form.draft) }}
                {{ form_row(form.created_at) }}
                {{ form_row(form.published_at) }}
                {{ form_row(form.updated_at) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{ form_row(form.submit) }}
            </div>
        </div>
    </div>
    {{ form_start(form) }}
{% endblock %}

{% block scripts %}
    <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="//cdn.ckeditor.com/4.5.8/standard/ckeditor.js"></script>

    <script>
        CKEDITOR.editorConfig = function (config) {
            config.language = 'de';
        };
        CKEDITOR.replace('form_body');
    </script>
{% endblock %}
